@{
    ViewData["Title"] = "İletişim";
}


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>@ViewData["Title"]</h2>
            <h3 class="page-header">Bizimle bu yollardan iletişim kurabilirsiniz</h3>

            <div class="col-md-6">
                <address>
                    Altınkum Yalcınlar Emlak<br />
                    Kilisli 2 dürümcünün yanı<br />
                    <abbr title="Telefon Engin Can">+90 (533) 476 54 80</abbr><br />
                    <abbr title="Telefon Yunus Emre Can">+90 (541) 233 99 90</abbr><br />
                    <abbr title="Telefon 2">+90 (256) 813 23 44</abbr>

                </address>

                <address>
                    <strong>İlan:</strong> <a href="mailto:ilan@didimdekirala.com">ilan@DidimdeKirala.com</a><br />
                </address>
            </div>

            <div class="col-md-6">
                <iframe width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJF6U0EzaHvhQRvUKk4H2kcPU&key=AIzaSyBDY748Cze_xf6hLj0hOdrNZbt8NNaBr60" allowfullscreen></iframe>
            </div>



        </div>
        <div class="panel-footer">
            <p>Website tasarımı ve BackEnd kodu <a href="https://atacetin.net">AtaÇetin.Net</a></p>
        </div>
    </div>
</div>

