@model DidimdeKirala.WebUI.Data.EmlakTipi

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmlakTipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmlakTipiAdi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmlakTipiAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmlakTipiID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
